table {
    margin: 0 auto;
    background: black;
    border: 2px solid #8E3A59;
    padding: 2px;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

table td {
    height: 8px;
    width: 8px;
}

table tr,
table td {
    border: 1px solid #8E3A59;
}

.alive {
    background-color: #4166F5;
}
.newborn {
    background-color: #8aa1f9;
}